.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #D1D5DC;
    font-size: 14px;
    font-weight: 300;

    margin-bottom: 24px;
}

.part {
    display: flex;
    align-items: center;
    gap: 8px;
}

.separator {
    margin: 0 8px;
    opacity: 0.5;
}

.link {
    color: #d1d5dc;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .breadcrumbs {
        font-size: 12px;
    }
}